# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.ipynb_checkpoints/

# macOS
.DS_Store
# Data & DBs
data/home_values_yearly_clean.csv
data/*.parquet
data/*.duckdb

# Reports generated artifacts
reports/*.csv
reports/figures/*.png
